.topic {
  display: grid;
  gap: 15px;
  padding: $paddingL;
  background-color: $whiteColor;
  border: 1px solid $lightGrayColor;
  border-radius: 6px;

  &__username.ant-typography {
    margin-bottom: $paddingXS;
    font-size: $fontSizeS;
    font-weight: 400;
    line-height: $fontSizeM;
    letter-spacing: 0.05em;
  }

  &__date {
    font-size: 10px;
    line-height: $fontSizeS;
    color: $darkGrayColor;
  }

  &__title {
    margin-top: 0;
    margin-bottom: $paddingXS;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__comments {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: $fontSizeS;
    font-weight: 400;
    line-height: $fontSizeM;
    color: $darkGrayColor;
    letter-spacing: 0.03em;
  }
}
