.loader {
  width: 100%;

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }

  &__childrenContainer {
    width: 100%;
    pointer-events: none;
    opacity: 0.5;
  }
}
