@import 'core/vars';

.form-change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: $paddingL;
  border: 1px solid $lightGrayColor;
  border-radius: 15px;

  &__form {
    width: 100%;
  }

  &__input {
    width: 100%;
    margin: 0 0 $paddingM;
  }

  &__inputError {
    color: $redColor;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 $paddingM;
  }

  &__button {
    width: 120px;
    margin: 0 $paddingS;
  }

  &__goBackButton {
    position: absolute;
    top: 50%;
    left: 0;
  }
}
