.start-game-page {
  justify-content: center;
  min-height: 100vh;
  background-color: transparent;
  background-image: url('../../assets/images/landing-bg.webp');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  &__wrapper {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 8px;
  }
}
