.side,
.dice {
  z-index: 2;
  width: 50px;
  height: 50px;
}

.dice {
  &.left {
    left: calc(50% - 150px);
  }

  &.right {
    left: calc(50% + 130px);
  }

  position: absolute;
  top: 50%;
  background-color: #b9b7b7;
  transform: perspective(700px) rotateX(-36deg) rotateY(-27deg);
  transform-style: preserve-3d;

  &.number-1 {
    transform: rotateX(203deg) rotateY(348deg);
  }

  &.number-2 {
    transform: rotateX(214deg) rotateY(284deg);
  }

  &.number-3 {
    transform: rotateX(28deg) rotateY(257deg);
  }

  &.number-4 {
    transform: rotateX(-36deg) rotateY(-27deg);
  }

  &.number-5 {
    transform: rotateX(104deg) rotateY(30deg);
  }

  &.number-6 {
    transform: rotateX(28deg) rotateY(16deg);
  }
}

.dice.view {
  transform-style: preserve-3d;
}

.dice::before,
.dice::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  content: '';
}

.dice::before {
  transform: rotateX(90deg);
}

.dice::after {
  transform: rotateY(90deg);
}

.side {
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  padding: 4px;
  background-color: #e7e7e7;
  border-radius: 10%;
  box-shadow: 0 5px #b9b7b7 inset, 0 -5px #bbb inset, 5px 0 #d7d7d7 inset, -5px 0 #d7d7d7 inset;
  object-fit: contain;
}

.one {
  align-items: center;
  justify-content: center;
  transform: translateZ(-25px);
}

.two {
  align-items: flex-start;
  justify-content: space-between;
  transform: translateX(-25px) rotateY(90deg);

  .pip.pip-two {
    align-self: flex-end;
  }
}

.three {
  align-items: flex-start;
  justify-content: space-between;
  transform: translateX(25px) rotateY(90deg);

  .pip.pip-two {
    align-self: center;
  }

  .pip.pip-three {
    align-self: flex-end;
  }
}

.four {
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-25px) rotateX(90deg);

  .column {
    display: flex;
    justify-content: space-between;
  }
}

.pip {
  display: block;
  width: 12px;
  height: 12px;
  margin: 1px;
  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 3px #111 inset, 0 -3px #555 inset;
}

.five {
  justify-content: space-between;
  transform: translateY(25px) rotateX(90deg);

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .column.column-two {
    justify-content: center;
  }
}

.six {
  justify-content: space-between;
  transform: translateZ(25px);

  > .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@keyframes rotate1 {
  0% {
    top: -300px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) perspective(700px);
  }

  100% {
    top: 50%;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) rotateX(203deg) rotateY(348deg);
  }
}

@keyframes rotate2 {
  0% {
    top: -300px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) perspective(700px);
  }

  100% {
    top: 50%;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) rotateX(214deg) rotateY(284deg);
  }
}

@keyframes rotate3 {
  0% {
    top: -300px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) perspective(700px);
  }

  100% {
    top: 50%;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) rotateX(28deg) rotateY(257deg);
  }
}

@keyframes rotate4 {
  0% {
    top: -300px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) perspective(700px);
  }

  100% {
    top: 50%;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) rotateX(-36deg) rotateY(-27deg);
  }
}

@keyframes rotate5 {
  0% {
    top: -300px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) perspective(700px);
  }

  100% {
    top: 50%;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) rotateX(104deg) rotateY(30deg);
  }
}

@keyframes rotate6 {
  0% {
    top: -300px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) perspective(700px);
  }

  100% {
    top: 50%;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) rotateX(28deg) rotateY(16deg);
  }
}
