.wrapper {
  &_leaderboardPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../../assets/images/leaderboard-bg.jpg') center;
    background-size: cover;
  }
}
