.wrapper {
  &_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
.game-views {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $whiteColor;
  position: relative;
}
