.player-interface {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: grid;
  grid-template-rows: 20% 1fr;
  gap: 20px;
  margin: auto;

  .controls {
    display: flex;
    justify-content: space-between;
  }

  .players-state {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 10px;

    .player {
      &__leave-flag {
        position: absolute;
        inset: 0;
        width: 324%;
        height: fit-content;
        padding: 10px;
        margin: auto;
        font-size: 18px;
        font-weight: 900;
        color: white;
        text-align: center;
        background-color: red;
        transform: rotate(295deg) scale(1) translateY(-185px) translateX(-80px);
      }

      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px;
      overflow: hidden;
      border: 1px solid black;

      &__name-wrap {
        padding: 3px;
        text-align: center;
      }

      &__property-label {
        &::after {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-left: 10px;
          content: '';
          background: url('./../../../assets/game/edit.png') no-repeat center;
          background-size: 100%;
        }
      }

      &__property {
        font-size: 10px;
      }
    }
  }
}
