.topic-page {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  padding: $paddingXL;

  &__main {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 65px;
  }

  &__space {
    display: grid;
    gap: 20px;
    padding: $paddingXL;

    @include space-border;
  }

  &__comments {
    padding-top: $paddingL;
    padding-bottom: $paddingL;
  }
}
