$primaryColor: #4096ff;
$redColor: #ff4d4f;
$orangeColor: #ffa500;
$blackColor: #000;
$whiteColor: #fff;
$darkGrayColor: #808080;
$lightGrayColor: #d9d9d9;

$paddingXS: 4px;
$paddingS: 8px;
$paddingM: 16px;
$paddingL: 24px;
$paddingXL: 40px;

$headerHeight: 50px;

$fontSizeL: 24px;
$fontSizeM: 16px;
$fontSizeS: 14px;
