$primaryColor: #4096ff;
$redColor: #ff4d4f;
$blackColor: #000;
$lightGrayColor: #d9d9d9;
$whiteColor: #fff;

$paddingS: 8px;
$paddingM: 16px;
$paddingL: 24px;

/* Game colors */
$gameColor1: #e4e4e4;
$gameColor2: #e8b5bb;
$gameColor3: #f4ed62;
$gameColor4: #a2d4a1;
$gameColor5: #91c6cb;
$gameColor6: #f7d185;
$gameColor7: #f2ad2e;
$gameColor8: #ff6161;
