// delete this comment after adding styles, a stub for stylelint
.resultboard-game {
  width: max-content;

  .resultboard-title {
    text-align: center;
  }

  .resultboard-table {
    box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
  }
}
